mixin icon(name,mod)
  if(mod)
    svg(class="svg-icon " + name + ' ' + mod)
      use(xlink:href="./img/sprites/sprite.svg#" + name)
  else
    svg(class="svg-icon " + name)
      use(xlink:href="./img/sprites/sprite.svg#" + name)

mixin burger
  button.btn-reset.burger(aria-label="Кпопка бургер")
    span.burger__line
    span.burger__line
    span.burger__line
    span.burger__line

mixin checkbox
  .g-checkbox
    input.g-checkbox__input(type="checkbox")
    span.g-checkbox__switch

mixin product
  .product
    span.product__caption NEW
    button.btn-reset.product__favorite
      +icon("favorite")
    a.product__image(href="card.html")
      .image-switch
        .image-switch__item(data-index="0")
          .image-switch__img
            img.lozad(src="img/product-1.jpg", srcset="img/product-1@2x.jpg 2x" alt="Продукт 1")
        .image-switch__item(data-index="1")
          .image-switch__img
            img.lozad(src="img/product-2.jpg", srcset="img/product-1@2x.jpg 2x" alt="Продукт 1")
        .image-switch__item(data-index="2")
          .image-switch__img
            img.lozad(src="img/product-3.jpg", srcset="img/product-1@2x.jpg 2x" alt="Продукт 1")
        .image-switch__item(data-index="3")
          .image-switch__img
            img.lozad(src="img/product-4.jpg", srcset="img/product-1@2x.jpg 2x" alt="Продукт 1")
        ul.product__image-pagination.image-pagination.list-reset.product__pag(aria-hidden="true")
          li.image-pagination__item.image-pagination__item--active(data-index="0")
          li.image-pagination__item(data-index="1")
          li.image-pagination__item(data-index="2")
          li.image-pagination__item(data-index="3")
    a.product__title(href="card.html") Кольцо из белого золота с изумрудом и турмалинами
    span.product__price от 77 975 ₽
    .product__discount
        span.product__old-price
            span 150 000 
            |₽
        span.product__percent 15%
    .product-details
      p.product__desc Желтое золото , 5 бриллиантов, 3 сапфира
      button.btn-reset.g-btn.g-btn--stroke.product__to-cart В корзину

mixin pagination(cls)
  if(cls)
    ul(class="g-pagination list-reset " + cls)
      li.g-pagination__item
        a.g-pagination__link.g-pagination__link--prev(href="#")
          +icon("arrow")
      li.g-pagination__item
        span.g-pagination__link.g-pagination__link--current 1
      li.g-pagination__item
        a.g-pagination__link(href="#") 2
      li.g-pagination__item
        a.g-pagination__link(href="#") 3
      li.g-pagination__item
        a.g-pagination__link(href="#") 4
      li.g-pagination__item
        a.g-pagination__link(href="#") 5
      li.g-pagination__item
        a.g-pagination__link(href="#") 6
      li.g-pagination__item
        a.g-pagination__link(href="#") 7
      li.g-pagination__item
        span.g-pagination__link ...
      li.g-pagination__item
        a.g-pagination__link(href="#") 33
      li.g-pagination__item
        a.g-pagination__link.g-pagination__link--next(href="#")
          +icon("arrow")
  else
    ul.g-pagination.list-reset
      li.g-pagination__item
        a.g-pagination__link.g-pagination__link--prev(href="#")
          +icon("arrow")
      li.g-pagination__item
        span.g-pagination__link.g-pagination__link--current 1
      li.g-pagination__item
        a.g-pagination__link(href="#") 2
      li.g-pagination__item
        a.g-pagination__link(href="#") 3
      li.g-pagination__item
        a.g-pagination__link(href="#") 4
      li.g-pagination__item
        a.g-pagination__link(href="#") 5
      li.g-pagination__item
        a.g-pagination__link(href="#") 6
      li.g-pagination__item
        a.g-pagination__link(href="#") 7
      li.g-pagination__item
        span.g-pagination__link ...
      li.g-pagination__item
        a.g-pagination__link(href="#") 33
      li.g-pagination__item
        a.g-pagination__link.g-pagination__link--next(href="#")
          +icon("arrow")

mixin filters(cls)
  if(cls)
    ul(class="g-filters__list list-reset " + cls)
      li.g-filters__item
          button.btn-reset.g-filters__btn.g-filters__btn--active(data-filters-path="decorations") украшения
      li.g-filters__item
          button.btn-reset.g-filters__btn(data-filters-path="engagement") помолвка
      li.g-filters__item
          button.btn-reset.g-filters__btn(data-filters-path="house") дом
      li.g-filters__item
          button.btn-reset.g-filters__btn(data-filters-path="high-magnification-art") высокое ювелирное искусство

mixin catalogTabs
  ul.g-tabs.list-reset.catalog__tabs
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Новинки
    li.g-tabs__item
        button.btn-reset.g-tabs__btn На свадьбу
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Женские
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Мужские
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Для вечернего образа
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Необычные
    li.g-tabs__item
        button.btn-reset.g-tabs__btn.g-tabs__btn--more.catalog__tabs-more
            |Ещё
            +icon("arrow")
        ul.g-tabs-dropdown.list-reset
            li.g-tabs__item
                button.btn-reset.g-tabs__btn Новинки
            li.g-tabs__item
                button.btn-reset.g-tabs__btn На свадьбу
            li.g-tabs__item
                button.btn-reset.g-tabs__btn Женские
            li.g-tabs__item
                button.btn-reset.g-tabs__btn НА КАЖДЫЙ ДЕНЬ
            li.g-tabs__item
                button.btn-reset.g-tabs__btn Для вечернего образа
            li.g-tabs__item
                button.btn-reset.g-tabs__btn Необычные
            li.g-tabs__item
                button.btn-reset.g-tabs__btn Новинки
            li.g-tabs__item
                button.btn-reset.g-tabs__btn На свадьбу
            li.g-tabs__item
                button.btn-reset.g-tabs__btn АКТУАЛЬНАЯ КЛАССИКА
            li.g-tabs__item
                button.btn-reset.g-tabs__btn НА КАЖДЫЙ ДЕНЬ
            li.g-tabs__item
                button.btn-reset.g-tabs__btn НЕОБЫЧНЫЕ
            li.g-tabs__item
                button.btn-reset.g-tabs__btn ДЕТЯМ

mixin postItem(cls)
  a.post-item(href="post.html" class=cls)
    img.post-item__image(src="img/no-image.svg", alt="Картинка поста")
    .post-item__right
      time.post-item__time(datetime="2021-07-20") 20.07.2021
      h2.g-title.post-item__title «Русские самоцветы» представили сервиз для водки&nbsp;FIREWATER
      p.post-item__desc Ключевым элементом украшений стали барочный жемчуг, цепочки бриллиантов и крупные Лондон-топазы огранки

mixin map
  .map

mixin tabs
  ul.g-tabs.list-reset(data-simplebar)
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Новинки
    li.g-tabs__item
        button.btn-reset.g-tabs__btn На свадьбу
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Женские
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Мужские
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Детям
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Актуальная классика
    li.g-tabs__item
        button.btn-reset.g-tabs__btn На каждый день
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Для вечернего образа
    li.g-tabs__item
        button.btn-reset.g-tabs__btn Необычные
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Новинки
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn На свадьбу
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Женские
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn На каждый день
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Для вечернего образа
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Необычные
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Новинки
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn На свадьбу
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Актуальная классика
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn На каждый день
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Необычные
    li.g-tabs__item.g-tabs__item--hidden
        button.btn-reset.g-tabs__btn Детям
    li.g-tabs__item
        button.btn-reset.g-tabs__btn.g-tabs__btn--more
            |Ещё
            +icon("arrow")

mixin tooltip
  span.g-tooltip
    button.btn-reset.g-tooltip__btn
      +icon("tooltip")
    span.g-tooltip__txt(role="tooltip")

mixin popularQuery(cls)
  div(class="popular-query " + cls)
    h3.g-title.popular-query__title Популярный запрос
    ul.g-tabs.list-reset.popular-query__tabs
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Новинки
        li.g-tabs__item
            button.btn-reset.g-tabs__btn На свадьбу
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Женские
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Мужские
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Детям
        li.g-tabs__item
            button.btn-reset.g-tabs__btn Актуальная классика
        li.g-tabs__item
            button.btn-reset.g-tabs__btn На каждый день
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Новинки
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn На свадьбу
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Женские
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Мужские
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Детям
        li.g-tabs__item.g-tabs__item--hidden
            button.btn-reset.g-tabs__btn Актуальная классика
        li.g-tabs__item
            button.btn-reset.g-tabs__btn.g-tabs__btn--more
              |Ещё
              +icon("arrow")

mixin countdown(cls)
  .countdown(class=cls data-count="December 31, 2021 04:59:59 GMT+8")
    .countdown__timer
        .countdown__item(id="timer-day")
            .countdown__digits.g-title
                .countdown__digit.countdown__digit-hundred 0
                .countdown__digit.countdown__digit-first 0
                .countdown__digit.countdown__digit-second 0
            .countdown__label дней

        .countdown__item(id="timer-hour")
            .countdown__digits.g-title
                .countdown__digit.countdown__digit-first 0
                .countdown__digit.countdown__digit-second 0
            .countdown__label часов
            .countdown__sep.g-title :
        .countdown__item(id="timer-minute")
            .countdown__digits.g-title
                .countdown__digit.countdown__digit-first 0
                .countdown__digit.countdown__digit-second 0
            .countdown__label минут
            .countdown__sep.g-title :
        .countdown__item(id="timer-second")
            .countdown__digits.g-title
                .countdown__digit.countdown__digit-first 0
                .countdown__digit.countdown__digit-second 0
            .countdown__label секунд

mixin menuContent(cls)
  .menu-content.js-nav-list.dropdown-menu(class=cls)
    .menu-content__inner
        button.btn-reset.g-slider-btn.g-slider-btn--prev.menu-slider__btn.menu-slider__btn--prev
            +icon("arrow")
        button.btn-reset.g-slider-btn.g-slider-btn--next.menu-slider__btn.menu-slider__btn--next
            +icon("arrow")
        button.btn-reset.nav__mobile-back
          +icon("arrow")
          |Кольца
        h2.g-title.menu-content__title коллекции
        .swiper.menu-slider
            .swiper-wrapper
              a.swiper-slide.menu-slide(href="#")
                .menu-slide__image
                  img.lozad(src="img/menu-slide-1.jpg" srcset="img/menu-slide-1@2x.jpg 2x" alt="shine")
                h3.g-title.menu-slide__caption shine
              a.swiper-slide.menu-slide(href="#")
                .menu-slide__image
                  img.lozad(src="img/menu-slide-1.jpg" srcset="img/menu-slide-1@2x.jpg 2x" alt="mirage")
                h3.g-title.menu-slide__caption mirage
              a.swiper-slide.menu-slide(href="#")
                .menu-slide__image
                  img.lozad(src="img/menu-slide-1.jpg" srcset="img/menu-slide-1@2x.jpg 2x" alt="цветы под снегом")
                h3.g-title.menu-slide__caption цветы под снегом
              a.swiper-slide.menu-slide(href="#")
                .menu-slide__image
                  img.lozad(src="img/menu-slide-1.jpg" srcset="img/menu-slide-1@2x.jpg 2x" alt="deep ocean")
                h3.g-title.menu-slide__caption deep ocean
              a.swiper-slide.menu-slide(href="#")
                .menu-slide__image
                  img.lozad(src="img/menu-slide-1.jpg" srcset="img/menu-slide-1@2x.jpg 2x" alt="фаберже inspiration")
                h3.g-title.menu-slide__caption фаберже inspiration
              a.swiper-slide.menu-slide(href="#")
                .menu-slide__image
                  img.lozad(src="img/menu-slide-1.jpg" srcset="img/menu-slide-1@2x.jpg 2x" alt="звездный путь")
                h3.g-title.menu-slide__caption звездный путь
              a.swiper-slide.menu-slide(href="#")
                .menu-slide__image
                  img.lozad(src="img/menu-slide-1.jpg" srcset="img/menu-slide-1@2x.jpg 2x" alt="New малинки")
                h3.g-title.menu-slide__caption New малинки
        a.menu-content__link.g-link(href="catalog.html") СМОТРЕТЬ ВСЕ КОЛЬЦА (1350)
        .menu-content__bottom
            .menu-content__col
                h2.g-title.menu-content__title категории
                ul.menu-categories.list-reset
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") сервировка основных блюд
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") сервировка закусок
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") сервировка сыров
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") сервировка специй
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") сервировка десертов
            .menu-content__col
                h2.g-title.menu-content__title моменты
                ul.menu-categories.list-reset
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") завтрак
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") обед
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") ужин
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") чайная церемония
                    li.menu-categories__item
                        a.menu-categories__link.g-title(href="#") кофейная церемония
            a.menu-content__banner(href="new.html") 
              img.lozad(src="img/menu-banner-1.jpg", srcset="img/menu-banner-1.jpg 2x" alt="New")

mixin searchForm(cls)
  if page === "search-results"
    .search-form.active(class=cls)
      button.btn-reset.search-toggle.toggle-form.active
        svg.search-toggle__icon(width="24" height="24")
          use.search-toggle__icon-opened(xlink:href="./img/sprites/sprite.svg#search-icon")
          use.search-toggle__icon-closed(xlink:href="./img/sprites/sprite.svg#cross2")
      form.search-form__form(action="#")
        input.search-form__input(type="search", name="s" placeholder="Поиск")
        button.btn-reset.search-form__btn
            +icon("search-icon")
        button.btn-reset.search-form__close(type="button")
            +icon("cross2")
      ul.search-result.list-reset(data-simplebar)
        -for(let i = 0; i < 10; i++)
          li.search-result__item
            a.search-result__link(href="search-results.html")
              span 14083 
              | Серьги из желтого золота с бриллиантами и&nbsp;изумрудами
          li.search-result__item
            a.search-result__link(href="search-results.html")
              span 14085 
              | Кольцо из розового золота с&nbsp;турмалинами
          li.search-result__item
            a.search-result__link(href="search-results.html")
              span 14089 
              | Брошь из серебра
  else
    .search-form(class=cls)
      button.btn-reset.search-toggle.toggle-form
        svg.search-toggle__icon(width="24" height="24")
          use.search-toggle__icon-opened(xlink:href="./img/sprites/sprite.svg#search-icon")
          use.search-toggle__icon-closed(xlink:href="./img/sprites/sprite.svg#cross2")
      form.search-form__form(action="#")
        input.search-form__input(type="search", name="s" placeholder="Поиск")
        button.btn-reset.search-form__btn
            +icon("search-icon")
        button.btn-reset.search-form__close(type="button")
            +icon("cross2")
      ul.search-result.list-reset(data-simplebar)
        -for(let i = 0; i < 10; i++)
          li.search-result__item
            a.search-result__link(href="search-results.html")
              span 14083 
              | Серьги из желтого золота с бриллиантами и&nbsp;изумрудами
          li.search-result__item
            a.search-result__link(href="search-results.html")
              span 14085 
              | Кольцо из розового золота с&nbsp;турмалинами
          li.search-result__item
            a.search-result__link(href="search-results.html")
              span 14089 
              | Брошь из серебра

mixin cartProduct(cls)
  .cart-product(class=cls)
    .cart-product__wrapper
      img.cart-product__image.lozad(src="img/card-2.jpg", srcset="img/card-2@2x.jpg 2x" alt="Ложка из столового серебра")
      .cart-product__right
        .cart-product__text
          .cart-product__left
              h2.cart-product__title Ложка из столового серебра
              span.cart-product__vendor
                  |Артикул: 
                  span 92092
          .cart-product__specifications
            span.cart-product__size 16.5
            span.cart-product__quantity 15
            span.cart-product__price 3 000 ₽
            span.cart-product__total 18 000 ₽
        .cart-product__bottom.read-more-wrapper
          .cart-product-features.full-text
            .card-features__row
                span.card-features__title Вес изделия: 
                span.card-features__value 3,37 г
            .card-features__row
                span.card-features__title Материал: 
                span.card-features__value Белое золото, 585 пробы
            .card-features__row
                span.card-features__title Вставка:
                span.card-features__value
                  ul.card-features-list.list-reset
                    li.card-features-list__item
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="5" cy="5" r="5" fill="#11C849"/>
                      </svg>
                      span Турмалин — 1, огранка «Октагон», 0.16 crt.
                    li.card-features-list__item
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="5" cy="5" r="5" fill="#FBE151"/>
                      </svg>
                      span Цинтрин — 1, огранка «Октагон», 0.16 crt.
                    li.card-features-list__item
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="5" cy="5" r="5" fill="#FB4861"/>
                      </svg>
                      span Рубин — 1, огранка «Октагон», 0.16 crt.
                    li.card-features-list__item
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="5" cy="5" r="5" fill="#6C80C9"/>
                      </svg>
                      span Сапфир — 1, огранка «Октагон», 0.16 crt.
                    li.card-features-list__item
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="5" cy="5" r="5" fill="#A3D9F8"/>
                      </svg>
                      span Топаз — 1, огранка «Октагон», 0.16 crt.
                    li.card-features-list__item
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="5" cy="5" r="5" fill="#000000"/>
                      </svg>
                      span Бриллиант — 10, огранка «Круг», цвет 7, чистота 9, 0.15 crt.
                    
            .card-features__row
                span.card-features__title Объем:
                span.card-features__value 00 мл
            .card-features__row
                span.card-features__title Длина:
                span.card-features__value 00 мл
            .card-features__row
                span.card-features__title Ширина :
                span.card-features__value 15,05 мм
            .card-features__row
                span.card-features__title Высота:
                span.card-features__value 00 мм
            .card-features__row
                span.card-features__title Технологии:
                span.card-features__value Хххххххххххххххххххххххх
          button.btn-reset.cart-product__more.read-more(type="button" data-text="Посмотреть характеристики") Посмотреть характеристики
    .cart-product-info
      .cart-product-info__item
        span.cart-product-info__caption Размер:
        span.cart-product-info__value 16.6
      .cart-product-info__item
        span.cart-product-info__caption Кол-во:
        span.cart-product-info__value
          .g-stepper
            .g-stepper__wrapper
              label.g-stepper__field
                input.g-stepper__input(type="text" value="1" maxlength="3")
              .g-stepper__btns
                button.btn-reset.g-stepper__btn.g-stepper__btn--down.g-stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
                  +icon("arrow-left")
                button.btn-reset.g-stepper__btn.g-stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
                  +icon("arrow-right")
      .cart-product-info__item
        span.cart-product-info__caption Цена:
        span.cart-product-info__value.cart-product-info__value--bold 77 975 ₽
      .cart-product-info__item
        span.cart-product-info__caption Сумма:
        span.cart-product-info__value.cart-product-info__value--bolder 77 975 ₽
    button.btn-reset.cart-product__remove.modal-btn(data-graph-animation="fadeInUp" data-graph-path="delete-product" data-graph-speed="500" type="button")
      +icon("cross2")

mixin orderingInfo
  .ordering-info
    .ordering-info__top
        h2.ordering-info__title.g-title ВАШ ЗАКАЗ
        span.ordering-info__quantity.g-title ТОВАРОВ 450
    .ordering-info__cost
        span.ordering-info__cost-desc ОБЩАЯ СТОИМОСТЬ
        span.ordering-info__cost-value 424 200 ₽
    label.ordering__label
        span Промокод
        input.g-input.ordering__input--lg.valid(type="text" name="промокод" placeholder="ВВЕДИТЕ ПРОМОКОД")
    .ordering-info__promocode
        span.ordering-info__promocode-desc СКИДКА ПО ПРОМОКОДУ
            span -00%
        span.ordering-info__promocode-value 5 970 ₽
    .ordering-info__total
        span ИТОГО
        span 417 000 ₽
    .ordering-info__btns
        a.g-btn.g-btn--stroke.ordering-info__btn.ordering-info__btn-list.anchor-link(href="#order-list") Состав заказа
        button.btn-reset.g-btn.g-btn--black.ordering-info__btn ОФОРМИТЬ ЗАКАЗ
    label.modal-form__label
        input.modal-form__checkbox(type="checkbox" checked)
        span.modal-form__switch
        span.modal-form__desc Я согласен на обработку персональных данных
    p.ordering-info__desc Оформляя заказ, вы подтверждаете, что соглашаетесь с 
        a(href="policy.html") правилами продажи

mixin stepper
  .g-stepper.card__stepper
    span.g-stepper__caption ВЫБЕРИТЕ КОЛИЧЕСТВО:
    .g-stepper__wrapper
      label.g-stepper__field
        input.g-stepper__input(type="text" value="1" maxlength="3")
      .g-stepper__btns
        button.btn-reset.g-stepper__btn.g-stepper__btn--down.g-stepper__btn--disabled(tabindex="-1" aria-label="Уменшить количество")
          +icon("arrow-left")
        button.btn-reset.g-stepper__btn.g-stepper__btn--up(tabindex="-1" aria-label="Увеличить количество")
          +icon("arrow-right")